<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {{ fighter }}

    <br>

    {{ fighter.dob }}

    <br>

    {{ fighter.wins }} - {{ fighter.losses }} - {{ fighter.draws }}

    <br>

    {{ fighter.division }}

    <br>

    {{ fighter.info }}

    {{ fighter }}

    <form action="{% url 'mma:post_fighter_review' fighter.id %}" method="post":>

        {% csrf_token %}
        
        <label for="review">Review: </label>
        <input name="review" id="review" value="">
        <input type="submit" value="post">

        {% for review in reviews_list %}
            <p>{{ review.rev_text }}</p>
        {% endfor %}


    

    </form>

</body>
</html>